.appointments-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f0f9ff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #25c6da;
  text-align: center;
  margin-bottom: 20px;
}

.appointment-list {
  list-style: none;
  padding: 0;
}

.appointment-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.delete-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background-color: #e60000;
}